# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant

name: Java CI

on:
  push:
    branches: [ "main" ]
    tags: ["*"]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Build with Ant
      run: ant -noinput -buildfile build.xml
    
    - name: Upload ngsutilsj executable JAR
      uses: actions/upload-artifact@v4
      with:
        name: ngsutilsj
        path: dist/ngsutilsj
    
    - name: Upload ngsutilsj JAR
      uses: actions/upload-artifact@v4
      with:
        name: ngsutilsj.jar
        path: dist/ngsutilsj*.jar

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          dist/ngsutilsj
          dist/ngsutilsj*jar
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

